<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


  <script src="/javascripts/subreal.js"></script>
  <script src="/javascripts/app.js"></script>
  </body>
</html>
